<div>
    <!-- Footer -->
    <div class="text-center text-lg-start text-white" style="background-color: #046b34">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            Grocery Mania
                        </h6>
                        <p>
                            To deliver an exceptional shopping experience by offering the best service, value , quality,
                            and freshest products while being good stewards of our environment.
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold"></h6>
                        <p>
                            <a class="text-white" [routerLink]="['/home2']">Home</a>
                        </p>
                        <p>
                            <a class="text-white" [routerLink]="['/profile']">Profile</a>
                        </p>
                        <p>
                            <a class="text-white" [routerLink]="['/addcart']">Go To Cart</a>
                        </p>
                        <p>
                            <a class="text-white" [routerLink]="['/aboutus']">About Us</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                        <p><i class="fa fa-home mr-3"></i> Bangalore,Electronic City,560100</p>
                        <p><i class="fa fa-envelope mr-3"></i> grocerymania@gmail.com</p>
                        <p><i class="fa fa-phone mr-3"></i> +91-8398065523</p>
                        <p><i class="fa fa-phone mr-3"></i> +91-7536936375</p>
                    </div>
                </div>
            </section>
        </div>

        <div class="text-center p-3" style="background-color: rgba(3, 11, 0, 0.2)">
            © 2023 Copyright:
            <a class="text-white" href="http://localhost:4200/home2">Grocerymania.com</a>
        </div>

    </div>