<div style="background-color: rgb(5, 49, 5);overflow-x: hidden;">
    <div class="multi-bg">
        <h1 id="logo" >Give Your Grocery List To Us....</h1>
    </div>
    <div>
        <h2
            style="text-align:center ;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-weight: bolder;color: #c3f3be;">
            Categories To Purchase From:</h2>
    </div>
    <section id="marquee">
        <div class="container">
            <div class="pic-container" style="color:whitesmoke;border: none;padding: 30px;">
                <div class="pic" style="display: flex;" *ngFor="let c of lstcategory">
                    <img src={{c.categoryImage}} alt="img" style="height:130px ; width:100px;border: 3px solid green; border-radius:65px"><br>
                    <h3 [routerLink]="['/category']" style="cursor:pointer; padding-top:27px;padding-left:10px ">{{c.categoryName}}</h3>
                </div>
            </div>
        </div>
    </section>


    <div style="background-color: rgb(4, 99, 31);padding: 72px 90px;">
        <div style="border: 3px solid yellowgreen;border-radius:10px;">
            <h4 style="text-align:center; padding:35px;font-weight: bolder;color: #c3f3be;">HOW IT WORKS</h4>
            <div class="container" style="padding: 60px">
                <div class="row">
                    <div class="col-sm" style="text-align:center;color: aliceblue;">
                        <img src="\assets\Images\11.png" alt="logo">
                        <h1 style="font-weight: bolder">Place an order</h1><br>
                        <h3>Choose from a wide range of daily essentials</h3><br>
                    </div>
                    <div class="col-sm" style="text-align:center;color: aliceblue;">
                        <img src="\assets\Images\12.png" alt="logo" style="height: 98px;width:96px">
                        <h1 style="font-weight: bolder">Don’t Blink</h1><br>
                        <h3>Our delivery partner will be at your door</h3><br>
                    </div>
                    <div class="col-sm" style="text-align:center;color: aliceblue;">
                        <img src="\assets\Images\13.png" alt="logo">
                        <h1 style="font-weight: bolder">Enjoy</h1><br>
                        <h3>Boom! You'll never have to wait for groceries again</h3><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div style="background-color: rgb(4, 99, 31);padding: 72px 90px;">
        <h4 style="text-align:center; padding:35px;font-weight: bolder;color: #c3f3be;">HAPPY CUSTOMERS</h4>
        <div class="row" style="margin-bottom: 56px;padding: 0px;">
            <div class="col-sm-6" style="margin-bottom: 56px;padding: 0px;">
                <div class="card"
                    style="background-image: linear-gradient(to top right ,hsl(115, 69%, 57%) 0%, #20742b 100%);border-radius: 20px;">
                    <div class="card-body">
                        <h2 class="card-text" style="color:rgb(234, 240, 196);font-weight: bold;">Impressed with the
                            overall experience. Placed an order on Grocery Mania right after booking a cab. The order
                            arrived faster than the cab!!</h2><br>
                        <h2 style="color:rgb(234, 240, 196);font-weight: lighter;">-Amber</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card"
                    style="background-image: linear-gradient(to top right,hsl(76, 87%, 66%) 0%, #20742b 100%);border-radius: 20px;">
                    <div class="card-body">
                        <h2 class="card-text" style="color:rgb(234, 240, 196);font-weight: bold;">I no longer have to
                            plan in advance for my groceries. This service helps me order on-the-fly. 10 minute delivery
                            is just insane</h2><br>
                        <h2 style="color:rgb(234, 240, 196);font-weight: lighter;">-Rohit</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 56px;padding: 0px;">
            <div class="col-sm-6" style="margin-bottom: 56px;padding: 0px;">
                <div class="card"
                    style="background-image: linear-gradient(to bottom left,hsl(76, 87%, 66%) 0%, #20742b 100%);border-radius: 20px;">
                    <div class="card-body">
                        <h2 class="card-text" style="color:rgb(234, 240, 196);font-weight: bold;">This service is
                            unbelievably fast. And their product assortment is great!</h2><br>
                        <h2 style="color:rgb(234, 240, 196);font-weight: lighter;">-Rahul</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card"
                    style="background-image: linear-gradient(to bottom left,hsl(115, 69%, 57%) 0%, #20742b 100%);border-radius: 20px;">
                    <div class="card-body">
                        <h2 class="card-text" style="color:rgb(234, 240, 196);font-weight: bold;">Thank you for being an
                            absolute saviour. Best app for when you need something INSTANTLY1</h2><br>
                        <h2 style="color:rgb(234, 240, 196);font-weight: lighter;">-Rishi</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>