    <div>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a id="a" class="navbar-brand multicolortext" style="margin-left:100px" href="#" [routerLink]="['/home']">Grocery Mania</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:200px;padding: 5px;">
                <ul id="a1" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/home']">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" [routerLink]="['/category']">Categories</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" [routerLink]="['/customer']">Customer Support</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/login']">Login</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</div>

