
  <div class="text-center text-white" style="background-color: rgb(4, 99, 31)">
    <!-- Grid container -->
    <div class="container">
      <!-- Section: Links -->
      <section class="">
        <!-- Grid row-->
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white" [routerLink]="['/aboutus']" style="text-decoration:none">About us</a>
            </h6>
          </div>

          <div class="col-md-2">
            
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white" [routerLink]="['/home']" style="text-decoration:none">Home</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white" [routerLink]="['/category']" style="text-decoration:none">Category</a>
            </h6>
          </div>

          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="#!" class="text-white" [routerLink]="['/customer']" style="text-decoration:none">Customer Support</a>
            </h6>
          </div>

        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />
    </div>
    <div
         class="text-center p-3"
         style="background-color: rgb(5, 49, 5)"
         >
      © 2023 Copyright:
      <a class="text-white" href="http://localhost:4200/"
         >GroceryMania.com</a
        >
    </div>
    <!-- Copyright -->
  </div>
