img{
    height: 200px;
    width: 340px;
    justify-content: center;
}
.centered-element { 
    transform: translateY(37%);
  }

  .centered-element2 {
    transform: translateX(120%);
    transform: translateY(10%);
  }