<div class="row" style="height: 600px;">
    <div class="col-lg-5">
        <div class="centered-element" style="display: flex;justify-content: center;">
            <img src="assets\Images\grocery_logo.png">
        </div>
    </div>
    <div class="col-lg-4 centered-element2" id="div2">
        <h3 style="text-align: center;">Change Password</h3>
        <form class="px-4 py-3 form" [formGroup]="reactiveForm" *ngIf="reactiveForm" (ngSubmit)="onSubmit(reactiveForm.value)" >
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="text" class="form-control" formControlName="password" id="password" placeholder="Enter Password" name="password">
                <span *ngIf="reactiveForm.controls['password'].invalid && reactiveForm.controls['password'].dirty ">
                    <span class="error-msg" *ngIf="reactiveForm.controls['password'].errors?.['required']" style="color: red;">*Password Required</span>
                <span class="error-msg" *ngIf="reactiveForm.controls['password'].errors?.['pattern']" style="color: red;">*Password should have min 8 characters (a-z, A-Z, 0-9, special)</span></span>
            </div><br>
            <div class="form-group">
                <label for="confirmPassword" class="form-label" >Confirm New Password</label>
                <input type="text" id="confirmPassword" class="form-control" placeholder="Enter Confirm Password" formControlName="confirmPassword" name="confirmPassword">
                    <span *ngIf="reactiveForm.controls['confirmPassword'].invalid && reactiveForm.controls['confirmPassword'].dirty ">
                        <span class="error-msg" *ngIf="reactiveForm.controls['confirmPassword'].errors?.['required']" style="color: red;">*Confirm Password</span>
                        <span class="error-msg" *ngIf="reactiveForm.controls['confirmPassword'].errors?.['isMatchingPwd']" style="color: red;">*Should match password</span>
                    </span>
                    </div><br>
            <button type="submit" [disabled]="!reactiveForm.valid" class="btn btn-primary">Save</button>
        </form>

    </div>