<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-header px-4 py-5">
                        <h5 class="text-muted mb-0"><b>Your Order History</b></h5>
                    </div>
                    <div class="card-body p-4">

                        <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                                <div class="row" *ngFor="let c of orderHistory">
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0">Bill.Id : {{c.billId}}</p>
                                    </div>
                                    <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">Schedule Delivery : {{c.scheduleDelivery}}</p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">Items ordered:{{c.quantity}}</p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                        <p class="text-muted mb-0 small">Payment Method:{{c.paymentMethod}}</p>
                                    </div>

                                    <div class="col-md-3" id="button">
                                        <button type="button" class="btn btn-success btn-sm"
                                            (click)="open(mymodal)">For More Details</button>
                                    </div>
                                    <ng-template #mymodal let-modal>
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="modal-basic-title">Details</h4>
                                            <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <previous-order-product [orderId]="c.orderId"></previous-order-product>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-dark"
                                                (click)="modal.close('Save click')">Ok</button>
                                        </div>
                                    </ng-template>
                                    <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                                    <!-- <div class="row d-flex align-items-center">
                                    </div> -->
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

